@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Yuji+Mai&display=swap");

/* dat bien */
:root {
  --background-light: white;
  --background-dark: black;
  --color-light: gray;
  --color-dark: black;
}

body {
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}
